* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.apresentacao {
    text-align: center;
}

.apresentacao h2 {
    margin: 20px 0;
}

.apresentacao p {
    color: #909090;
}

.boxInfo {
    padding: 20px;
    text-align: center;
    width: 15%;
    border: 1px solid rgba(175, 173, 173, 0.596);
    margin: 50px 200px;
}

.boxInfo p {
    font-weight: bold;
}

.corDestaque {
    color: #000075;
}
